<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=schedulingapp.cnw800uucbut.us-east-1.rds.amazonaws.com;Database=schedulingApp;Uid=root;Pwd=TestDB2024!;Convert Zero Datetime=True;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>