<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=127.0.0.1;Port=3306;Database=client_schedule;Uid=sqlUser;Pwd=Passw0rd!;Convert Zero Datetime=True;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>